* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    text-align: center;
}

.game-container 
{
    background: linear-gradient(135deg, #f06, #4a90e2);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 450px;
}

h1 
{
    color: goldenrod;
    font-size: 36px;
    margin-bottom: 20px;
}

canvas 
{
    border: 5px solid #270e0e;
    border-radius: 10px;
}

.controls 
{
    margin-top: 20px;
}

button 
{
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

button:hover 
{
    background-color: #3519d3;
}

#score 
{
    font-size: 20px;
    margin-top: 10px;
     color: rgb(240, 17, 17);
}


